################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/RelatedKeyword/bin/Debug/net6.0
/RelatedKeyword/obj/Debug/net6.0
/RelatedKeyword/vs
