################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

KeywordChart/RelatedKeyword/bin/
KeywordChart/RelatedKeyword/obj/
KeywordChart/RelatedKeyword/.vs/
KeywordChart/RelatedKeyword/appsettings.Development.json
KeywordChart/RelatedKeyword/.vs/RelatedKeyword/v17/TestStore/0
KeywordChart/RelatedKeywordTests1/bin/Debug/net6.0
KeywordChart/RelatedKeywordTests1/obj/Debug/net6.0
KeywordChart/RelatedKeywordTests1/obj
KeywordChart/RelatedKeyword.UnitTest/obj
/RelatedKeywordTests1/bin/Debug/net6.0
/RelatedKeywordTests1/obj
/RelatedKeyword/.vs/RelatedKeyword/v17/TestStore/0
