table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

    table.type10 thead th {
        width: 150px;
        padding: 10px;
        vertical-align: top;
        background: #efefef;
        margin: 20px 10px;
    }
    
    table.type10 td {
        width: 350px;
        padding: 10px;
        vertical-align: top;
    }

    table.type10 tbody tr:nth-child(even) {
        background: #efefef;
    }
.table-area
{
    margin:50px;
}
/*fixed header*/
table {
    width: 100%;
}

    table > thead > tr > th {
        font-weight: 400;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        position: sticky;
        top: 0;
    }

    table > tbody > tr > td {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

.container {
    height: 500px;
    overflow: auto;
}
